*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: roundedNext;
    src: url(../FontsFree-Net-022e509b-bc75-4957-9b88-9db3cdb834e2.ttf);
}

:root {
    --primary-orange-color: #F6673B;
    --white-color: #FFFFFF;
    --banner-section-bg-color: #FAB29C;
    --light-purple-color: #DDBBD8;
    --button-yellow-color: #F6EB13;
    --content-black-color: #302B2B;
}

/* resets */

h1, h2, h3, h4, h5, h6 {
    font-family: roundedNext;
}

body, p {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    color: var(--content-black-color);
}

a {
    text-decoration: none;
    color: var(--white-color);
    display: inline-block;
    transition: all 0.3s ease;
}

a:hover {
    color: var(--content-black-color);
}

ul {
    list-style: none;
}

.primary-btn {
    background: var(--button-yellow-color);
    padding: 15px 30px;
    border-radius: 40px;
    border: transparent;
    color: var(--content-black-color);
    transition: all 0.3s ease;
    cursor: pointer;
}

.primary-btn:hover {
    background: var(--primary-orange-color);
    color: var(--white-color);
}



/* default classes */

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-inline: auto;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1300px;
    }
}

.row {
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

@media (min-width: 576px) {
    .col-sm-1 {
        -ms-flex: 0 0 8.333333%;
        flex: 0 0 8.333333%;
        max-width: 8.333333%;
    }

    .col-sm-2 {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }

    .col-sm-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }

    .col-sm-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }

    .col-sm-5 {
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
    }

    .col-sm-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-sm-7 {
        -ms-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
    }

    .col-sm-8 {
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }

    .col-sm-9 {
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%;
    }

    .col-sm-10 {
        -ms-flex: 0 0 83.333333%;
        flex: 0 0 83.333333%;
        max-width: 83.333333%;
    }

    .col-sm-11 {
        -ms-flex: 0 0 91.666667%;
        flex: 0 0 91.666667%;
        max-width: 91.666667%;
    }

    .col-sm-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

}


/* ------section one --------- */

.header-wrapper {
    height: 60px;
    background: var(--primary-orange-color);
    width: 100%;
    position: fixed;
    z-index: 100;
}

.row {
    align-items: center;
}

.primary-menu {
    display: flex;
    align-items: center;
    justify-content: center;
}

.home {
    padding-right: 135px;
}
.franchising {
    padding-right: 71px;
}

.primary-menu li a {
    font-family: roundedNext;
    font-size: 22px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -5%;
    text-align: center;
    text-transform: uppercase;
}

.hero-section {
    padding-top: 72px;
    min-height: 100vh;
    background: var(--banner-section-bg-color);
}

.first-para {
    text-transform: uppercase;
}

.second-para {
    max-width: 600px;
    margin-inline: auto;
    padding-top: 13px;
    padding-bottom: 100px;
}

.first-para, .second-para, .primary-btn, .orange-heading-section2 {
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -0.01em;
    text-align: center;
}

.banner-media video {
    /* padding: 78px 0; */
    width: 100%;
}

.gap {
    /* margin-left: 238px; */
    margin-bottom: 60px;
}

.banner-content {
    text-align: center;
}

h1.main-heading {
    font-size: 90px;
    font-weight: 400;
    line-height: 107px;
    letter-spacing: -0.01em;
    text-align: center;
    max-width: 400px;
    margin-inline: auto;
}

.banner-content h1 #love {
    position: relative;
}

.banner-content h1 #love::before {
    content: "";
    position: absolute;
    right: 0;
    bottom: 10px;
    background: var(--primary-orange-color);
    height: 5px;
    width: 90%;
}

.line1, .line2, .line3 {
    background: var(--white-color);
    width: 2.5rem;
    height: 0.2rem;
    margin: 0.38rem;
    transition: all 0.3s ease;
}

.hamburger {
    cursor: pointer;
    display: none;
}



/* Section two  */

.content-section {
    background: var(--light-purple-color);
}

.section2-row {
    align-items: flex-start !important;
}

.sec2-container {
    margin-inline: 0;
}

.section-two-media iframe {
    padding: 76px 75px 0 93px;
    margin-bottom: 46px;
}

.section2-para {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.01em;
    text-align: left;
}

.align {
    max-width: 429px;
    margin-inline: auto;
}

.btn-gap {
    margin-top: 41px;
    margin-bottom: 35px;
    margin-left: 116px;
}

.orange-heading-section2 {
    letter-spacing: -0.05em !important;
    color: var(--primary-orange-color);
    font-weight: 700;
    text-align: left;
}

.space {
    max-width: 329px;
    margin-inline: auto;
    text-align: left;
}

.section2-image1 {
    padding: 26px 75px 68px 78px;
}

.section2-image2 {
    padding: 0 75px 35px 78px;
}

.inner-content {
    text-align: left;
}



/* Section three  */

.section3-para {
    font-size: 39px;
    line-height: 50px;
    letter-spacing: -0.05em;
    text-align: left;
    color: var(--content-black-color);
    padding: 90px 0 93px 80px;
}

.section-three iframe {
    padding-left: 90px;
    padding-bottom: 97px;
}

.big-text {
    font-family: roundedNext;
    font-size: 121px;
    font-weight: 700;
    line-height: 155px;
}

.top-pad {
    padding-top: 110px;
}

.see-text {
    padding-left: 190px;
}

.hear-text {
    padding-left: 128px;
}

.do-text {
    padding-left: 238px;
}

.medium-text {
    font-family: "Poppins",sans-serif !important;
    font-size: 100px;
    line-height: 155px;
    font-weight: 400;
    color: var(--content-black-color);
    padding-right: 47px;
}

.normal-text {
    font-size: 39px;
    line-height: 50px;
    letter-spacing: -0.05em;
    color: var(--content-black-color);
    max-width: 380px;
    margin-inline: auto;
}

.get-started {
    justify-content: center;
}

.lines h1 {
    position: relative;
}

.lines h1::before {
    content: "";
    position: absolute;
    right: 50px;
    bottom: 20px;
    background: #DDBBD8;
    height: 3px;
    width: 50%;
}

.btn-space {
    margin-top: 110px;
    margin-bottom: 75px;
}


/* Section four  */

.section-four .container {
    padding-right: 0 !important;
}

.heart {
    width: 40px;
    height: 40px;
    aspect-ratio: 1;
    background:
    radial-gradient(at 70% 31%,var(--primary-orange-color) 29%,#0000 30%),
    radial-gradient(at 30% 31%,var(--primary-orange-color) 29%,#0000 30%),
    conic-gradient(from -45deg at 50% 84%,var(--primary-orange-color) 90deg,#0000 0) 
    bottom/100% 50% no-repeat;
}

.four-heading {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 85px;
    padding-bottom: 50px;
}

p.section4-heading {
    font-size: 39px;
    line-height: 50px;
    letter-spacing: -0.05em;
    text-align: left;    
}

.card-image {
    padding-bottom: 20px;
}

.cards-container {
    display: flex;
    column-gap: 30px;
}

.card-content {
    font-size: 22px;
    line-height: 25px;
    letter-spacing: -0.05em;
    text-align: center;
    max-width: 214px;
}

.get-in-touch {
    text-align: center;
}

.gap1, .gap2, .gap4, .gap5 {
    padding-bottom: 190px;
}

.gap3 {
    padding-bottom: 100px;
}

.mb {
    margin-bottom: 44px;
}

/* Section five  */

.section-five-image {
    padding-top: 115px;
}

.sec5-image {
    width: 580px;
    height: 580px;
    border-radius: 50px;
}

.on-image-content {
    height: 188px;
    margin-left: 185px;
    background: var(--white-color);
    position: relative;
    margin-top: -150px;
    border-radius: 40px;
    margin-bottom: 41px;
}

.orange-heading {
    font-size: 34px;
    font-weight: 400;
    line-height: 50px;
    text-align: left;
    color: var(--primary-orange-color);
    letter-spacing: -0.05em;
}

.sec5-col1-head {
    padding-left: 34px;
    padding-top: 40px;
    padding-bottom: 27px;
}

.pad {
    padding: 160px 25px 50px 25px;
}

.content {
    padding-bottom: 132px;
}

.padding {
    padding-bottom: 30px;
}

.sec5-col1, .section5-para {
    font-size: 19px;
    line-height: 26px;
    letter-spacing: -0.05em;
    text-align: left;
}

.para {
    max-width: 366px;
    margin-inline: auto;
}

.section5-para {
    max-width: 264px;
    margin-inline: auto;
}

.section5-image2 {
    padding-left: 20px;
    height: 261px;
    padding-right: 25px;
}

.section5-image1 {
    height: 261px;
}

.bg-col {
    background: var(--light-purple-color);
}


/* Section six  */

.alignment {
    padding-top: 80px;
    text-align: center;
}

.sec6-image {
    width: 184px;
    height: 194px;
}

.sec6-text {
    font-size: 88.85px;
    font-weight: 500;
    line-height: 105px;
    letter-spacing: -0.02em;
    padding-top: 45px;
    padding-bottom: 73px;
}

.sec6-para {
    font-size: 26px;
    font-weight: 400;
    line-height: 105px;
    letter-spacing: -0.01em;
    padding-bottom: 48px;
}

.margin {
    margin-bottom: 110px;
}

/* Section seven  */

.sec7-head {
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -0.02em;
    text-align: center;
    padding-top: 57px;
    padding-bottom: 69px;
}

.sec7-image {
    width: 386px;
    height: 217px;
    padding-bottom: 16px;
}

.sec7-para {
    font-size: 25.65px;
    line-height: 38px;
    letter-spacing: -0.06em;
    text-align: center;
    padding-bottom: 25px;
}

.para1 {
    max-width: 206px;
    margin-inline: auto;
}

.para2 {
    max-width: 259px;
    margin-inline: auto;
}

.para3 {
    max-width: 275px;
    margin-inline: auto;
}

.para4 {
    max-width: 235px;
    margin-inline: auto;
}

.para5 {
    max-width: 213px;
    margin-inline: auto;
}


/* Section eight  */

.section-eight-image-container {
    background-image: url(../images/sec8.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.sec8-image {
    width: 100%;
}

.section-eight {
    width: 100%;
    text-align: left;
}

.content-container {
    padding-top: 20%;
}

.sec8 {
    display: flex;
    align-items: end;
}

.sec8-heading {
    font-family: roundedNext;
    font-size: 80px;
    line-height: 82px;
    letter-spacing: -0.03em;
    color: var(--white-color);
    max-width: 770px;
    padding-left: 70px;
}

.sec8-content {
    font-family: roundedNext;
    font-size: 30px;
    line-height: 37px;
    letter-spacing: -0.03em;
    max-width: 412px;
    color: var(--white-color);
    padding-left: 65px;
    padding-top: 36px;
    /* padding: 36px 89px 101px 65px; */
}

.sec8-btn {
    margin-left: 89px;
}





/* Extra small devices like Phones */

@media only screen and (min-width: 200px) and (max-width: 576px) {
    
    /* Section one  */

    .primary-menu {
        flex-direction: column;
        position: absolute;
        top: 45px;
        background: var(--banner-section-bg-color);
        width: 100%;
        height: 100%;
        text-align: left;
        right: 100%;
        z-index: 5;
        gap: 20px;
        min-height: 100vh;
        transition: 0.5s ease-in-out;
    }
    .navlinks-active {
        right: 0;
    }
    .hamburger {
        display: block;
        z-index: 10;
        position: relative;
        float: right;
    }
    .cross .line1 {
        transform: rotate(-50deg) translate(-8px, 6px);
        background-color: var(--white-color);
    }
    .cross .line2 {
        opacity: 0;
    }
    .cross .line3 {
        transform: rotate(50deg) translate(-6px, -6px);
        background-color: var(--white-color);
    }

    .second-para {
        padding-bottom: 20px;
    }
    .main-heading {
        font-size: 65px !important;
        line-height: 80px !important;
        padding-bottom: 10px;
    }
    .first-para {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .gap {
        margin-bottom: 0 !important;
    }
    .mt {
        margin-top: -80px;
    }
    .home {
        padding-right: 0;
    }
    .franchising {
        padding-right: 0;
    }

    /* Section two  */

    .section-two-media iframe {
        width: 100%;
        padding: 20px;
        margin-bottom: 46px;
    }
    .section-two-media {
        text-align: center;
    }
    .section2-image1 {
        padding: 26px 40px 28px 48px;
    }
    .section2-image2 {
        padding: 0 45px 28px 48px;
        margin-top: 26px;
    }
    .btn-gap {
        margin-left: 0;
    }
    .section-two {
        width: fit-content;
    }
    .mq-sec2 {
        justify-content: center;
    }
    .inner-content {
        padding-inline: 50px;
    }
    .section2-para {
        text-align: center !important;
    }
    .orange-heading-section2 {
        text-align: center !important;
    }

    /* Section three  */

    .medium-text {
        font-size: 50px;
    }
    .big-text {
        font-size: 65px;
    }
    .section-three iframe {
        width: 100%;
        padding-left: 0;
        padding-bottom: 0;
    }
    .section3-para {
        text-align: center !important;
        padding: 90px 0 20px 0;
    }
    .see-text {
        padding-left: 0;
    }
    .hear-text {
        padding-left: 0;
    }
    .do-text {
        padding-left: 0;
    }
    .medium-text {
        padding-right: 0px;
    }
    .col-sm-8 {
        text-align: center;
        padding-left: 30px;
        padding-right: 20px !important;
    }
    .lines h1::before {
        right: 0;
        bottom: 40px;
    }
    .normal-text {
        margin-inline: 0;
    }
    .top-pad {
        padding-top: 0;
    }

    /* section four  */

    .cards-container {
        flex-wrap: wrap;
        justify-content: center;
    }
    .four-heading {
        flex-wrap: wrap;
    }
    .gap1, .gap2, .gap3, .gap4, .gap5 {
        padding-bottom: 50px;
    }
    p.section4-heading {
        font-size: 30px;
    }


    /* section five  */

    .on-image-content {
        width: fit-content;
        height: auto;
        margin: auto;
        padding: 20px;
    }
    .sec5-col1-head {
        padding-left: 0;
        padding-top: 0;
    }
    .para {
        margin-inline: 0;
    }
    .justify {
        justify-content: center;
    }
    .pad {
        padding: 0;
    }
    .sec5-col2-content {
        margin: 20px;
    }
    .padding {
        padding-bottom: 0;
    }
    .section5-image1, .section5-image2 {
        width: 50%;
        height: auto;
        padding: 0 !important;
    }
    .content {
        padding: 0 20px 20px 0;
    }
    .sec5-col1-head {
        padding-left: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
        text-align: center;
    }
    .sec5-col1 {
        padding-left: 20px;
        text-align: center !important;
    }
    .section5-image2 {
        margin-top: 20px;
    }
    .sec5-image {
        width: 100%;
        height: auto;
    }
    .row-flex {
        justify-content: center;
    }

    /* section six  */
    
    .banner-media video {
        padding: 50px 0;
        height: auto;
    }
    .alignment {
        padding-top: 0;
    }
    .sec6-text {
        line-height: 70px;
        font-size: 65px;
        padding-bottom: 45px;
    }
    .sec6-para {
        line-height: 40px;
    }


    /* section seven  */

    .sec7-image {
        width: 100%;
        height: auto;
    }
    .sec7-para {
        max-width: fit-content;
    }


    /* section eight  */

    .sec8-btn {
        margin-left: 0;
        margin-bottom: 50px;
    }
    .sec8-heading {
        padding-left: 0;
    }
    .sec8-content {
        padding-left: 0;
        padding-bottom: 36px;
    }
    .content-container {
        text-align: center;
    }
    .sec8 {
        display: inline;
        text-align: center;
    }
    .sec8-heading {
        font-size: 65px;
    }

}


/* small devices like Large phones/portrait Tablets */

@media only screen and (min-width: 576px) and (max-width: 768px) {
    
    /* section one */

    .home {
        padding-right: 70px;
    }
    .franchising {
        padding-right: 50px;
    }
    .main-heading {
        font-size: 50px !important;
        line-height: 50px !important;
        padding-bottom: 10px;
    }
    .first-para {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .second-para {
        padding-bottom: 20px;
    }

    /* section two  */

    .section-two-media iframe {
        width: 100%;
        padding: 0;
        margin-bottom: 46px;
    }
    .section2-row {
        flex-wrap: wrap !important;
    }
    .inner-content {
        margin: -30px -10px 10px 50px;
    }
    .setting {
        margin-top: -30px;
    }
    /* .section2-image1, .section2-image2 {
        padding: 26px 75px 50px 178px;
    } */
    .btn-gap {
        margin-left: 20px;
    }
    .section-two-media {
        text-align: center;
    }
    .section2-image2 {
        padding: 0 75px 68px 78px;
    }


    /* section three  */

    .medium-text {
        font-size: 50px;
    }
    .big-text {
        font-size: 80px;
    }
    .section-three iframe {
        width: 100%;
        padding-left: 0;
        padding-bottom: 0;
    }
    .section3-para {
        padding: 90px 0 20px 0;
    }
    .see-text {
        padding-left: 150px;
    }
    .do-text {
        padding-left: 150px;
    }
    .medium-text {
        padding-right: 0px;
    }
    .col-sm-8 {
        text-align: center;
        padding-left: 60px;
    }
    .lines h1::before {
        right: 0;
        bottom: 40px;
    }

    /* section four  */

    .cards-container {
        flex-wrap: wrap;
        justify-content: center;
    }
    .four-heading {
        flex-wrap: wrap;
    }
    .gap1, .gap2, .gap3, .gap4, .gap5 {
        padding-bottom: 50px;
    }


    /* section five  */

    .sec5-image {
        width: 100%;
        height: auto;
    }
    .justify {
        justify-content: center;
        padding-inline: 20px;
    }
    .on-image-content {
        width: auto;
        height: auto;
        margin-left: 100px;
        margin-top: -60px;
    }
    .sec5-col1-head {
        padding-left: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .sec5-col1 {
        padding-left: 20px;
    }
    .pad {
        padding: 80px 0 20px 0;
    }
    .sec5-col2-content {
        padding-bottom: 20px;
    }
    .section5-image2 {
        margin-top: 20px;
    }
    .padding {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .content {
        padding-top: 0;
        padding-bottom: 80px;
    }
    .section5-image1, .section5-image2 {
        padding: 20px;
        width: 100%;
        height: auto;
    }

    /* section six  */

    .sec7-image {
        width: 100%;
        height: auto;
    }
    .sec6-text {
        padding-top: 0;
        padding-bottom: 0;
    }
    .sec6-para {
        line-height: 40px;
        padding-bottom: 20px;
        padding-top: 20px;
    }

    /* section seven  */

    .sec7-image {
        width: 100%;
        height: auto;
    }
    .items {
        align-items: flex-start !important;
    }



    /* section eight  */

    .sec8-btn {
        margin-left: 0;
        margin-bottom: 20px;
    }
    .sec8-heading {
        padding-left: 0;
    }
    .sec8-content {
        padding-left: 0;
        padding-bottom: 36px;
    }
    .sec8 {
        display: inline;
    }

}


/* Medium devices like landscape/tablets */

@media only screen and (min-width:768px) and (max-width: 1200px) {

    /* section one  */

    .first-para {
        font-size: 30px;
    }
    .main-heading {
        font-size: 50px;
    }
    .hero-section {
        padding-top: 82px;
    }

    /* section two  */    

    .section-two-media iframe {
        width: 100%;
        padding: 20px;
        margin-bottom: 46px;
    }
    .section2-row {
        align-items: center !important;
    }
    .section2-image1 {
        padding: 20px;
    }
    .section2-image2 {
        padding: 20px;
    }
    /* .row {
        flex-wrap: nowrap !important;
    } */
    .section2-image1 {
        height: 340px !important;
    }
    /* .space {
        margin-right: -200px !important;
    } */
    .orange-heading-section2 {
        margin-right: -150px;
    }
    .col-sm-7 {
        justify-content: center;
    }
    .section-two-media {
        text-align: center;
    }
    .btn-gap {
        margin-left: 20px;
    }
    .mq-sec2 {
        justify-content: center;
    }


    /* section three  */

    .section-three iframe {
        width: 100%;
        padding-left: 0;
        padding-bottom: 0;
    }
    .section3-para {
        padding: 90px 0 20px 0;
    }
    .row-flex {
        flex-wrap: wrap !important;
    }
    .see-text {
        padding-left: 150px;
    }
    .do-text {
        padding-left: 150px;
    }
    .medium-text {
        padding-right: 0px;
    }
    .col-sm-8 {
        text-align: center;
    }

    /* section four  */

    .cards-container {
        flex-wrap: wrap;
        padding-left: 80px;
    }
    .four-heading {
        flex-wrap: wrap;
    }
    .gap1, .gap2, .gap3, .gap4, .gap5 {
        padding-bottom: 50px;
    }

    /* section five  */

    .sec5-image {
        width: 100%;
        height: auto;
    }
    .justify {
        justify-content: center;
    }
    .on-image-content {
        width: auto;
        height: auto;
        margin-left: 100px;
        margin-top: -60px;
    }
    .sec5-col1-head {
        padding-left: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    /* .sec5-col1 {
        padding-left: 20px;
    } */
    .pad {
        padding: 80px 0 20px 0;
    }
    .sec5-col2-content {
        padding-bottom: 20px;
    }
    .section5-image2 {
        margin-top: 20px;
    }
    .padding {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .content {
        padding-top: 0;
        padding-bottom: 80px;
    }

    /* section six  */

    .sec6-text {
        padding-top: 0;
        padding-bottom: 0;
    }
    .sec6-para {
        line-height: 40px;
        padding-bottom: 20px;
        padding-top: 20px;
    }



    /* section seven  */

    .sec7-image {
        width: 100%;
        height: auto;
    }
    .items {
        align-items: flex-start !important;
    }


    /* section eight  */

    .sec8-btn {
        margin-left: 40px;
    }
    .sec8-heading {
        padding-left: 0;
    }
    .sec8-content {
        padding-left: 0;
    }

}

@media only screen and (min-width:1200px){
    /* section three  */

    .see-text {
        padding-left: 150px;
    }
    .hear-text {
        padding-left: 78px;
    }
    .do-text {
        padding-left: 170px;
    }
    .medium-text {
        padding-right: 0px;
    }

    /* section four  */

    .cards-container {
        padding-left: 0;
        flex-wrap: nowrap;
    }
    .card-image {
        width: 100%;
    }

    /* section five  */

    .justify {
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    /* section eight  */

    .sec8-content {
        padding-bottom: 101px;
    }
    .sec8-btn {
        margin-bottom: 155px;
    }

}